body {
    background: url('./assets/img2.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

input{
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

button:disabled {
    background-color: #ccc;
}

p {
    margin: 15px 0;
    font-size: 18px;
    color: #555;
}

#error {
    color: red;
}

#feedback {
    color: #d9534f; /* Red color for negative feedback */
}

#chances {
    color: black;
}

#victoryMessage {
    display: none;
    font-size: 24px;
    color: #28a745;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
